<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<div th:replace="fragment/linksHeader::links"></div>
<link rel="stylesheet" th:href="@{/css/footer.css}">
</head>
<body>

	<div th:fragment="footer">
		<!-- Site footer -->
		<footer class="site-footer" style="background-color: black;">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-md-6">
						<h6>Sobre nosotros</h6>
						<p class="text-justify">
							Somos una entidad considerablemente nueva, sin &aacute;nimo de lucro, enfocada al servicio de transacciones en l&iacute;nea 
							a ra&iacute;z de la pandemia a nivel mundial, sin embargo, llegamos para quedarnos, comprar de manera online nunca antes 
							hab&iacute;a sido tan eficiente y seguro, protegeremos tus datos de cualquier tercero, ni si quiera nuestro equipo de desarrollo cuenta 
							con acceso a ellos por nuestro sistema de encriptado, nos preocupamos por tu seguridad. Promet&eacute;mos.
						</p>
					</div>

					<div class="col-xs-6 col-md-3">
						<h6>Categor&iacute;as</h6>
						<ul class="footer-links">
							<li><a href="http://scanfcode.com/category/c-language/">C</a></li>
							<li><a
								href="http://scanfcode.com/category/front-end-development/">UI
									Design</a></li>
							<li><a
								href="http://scanfcode.com/category/back-end-development/">PHP</a></li>
							<li><a
								href="http://scanfcode.com/category/java-programming-language/">Java</a></li>
							<li><a href="http://scanfcode.com/category/android/">Android</a></li>
							<li><a href="http://scanfcode.com/category/templates/">Templates</a></li>
						</ul>
					</div>

					<div class="col-xs-6 col-md-3">
						<h6>Quick Links</h6>
						<ul class="footer-links">
							<li><a href="http://scanfcode.com/about/">About Us</a></li>
							<li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
							<li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contribute</a></li>
							<li><a href="http://scanfcode.com/privacy-policy/">Privacy
									Policy</a></li>
							<li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
						</ul>
					</div>
				</div>
				<hr>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-sm-6 col-xs-12">
						<p class="copyright-text">
							Copyright &copy; 2020 Todos los derechos reservados.<a href="#"></a>
						</p>
					</div>

					<div class="col-md-4 col-sm-6 col-xs-12">
						<ul class="social-icons">
							<li><a class="facebook" href="#"><i
									class="fa fa-facebook"></i></a></li>
							<li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a class="dribbble" href="#"><i
									class="fa fa-dribbble"></i></a></li>
							<li><a class="linkedin" href="#"><i
									class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
	</div>

</body>
</html>