<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<div th:replace="fragment/linksHeader :: links"></div>
</head>
<body>
	<script th:src="@{/js/eliminarCuenta.js}"></script>
	<div th:fragment="nav">
		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

		<nav style="width: 1360px"
			class="navbar navbar-expand-lg navbar-dark bg-primary">
			<a class="navbar-brand" href="#"><img  src="/images/iconos/ge.png" style="height: 32px; width: 32px;"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarColor01" aria-controls="navbarColor01"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarColor01">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><a class="nav-link" th:href="@{/inicio/{idUsuario}(idUsuario = ${usuario.id})}">Inicio
							<span class="sr-only">(current)</span>
					</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/visualizarPedidos/{idUsuario}(idUsuario = ${usuario.id})}">Mis
							pedidos</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/carrito/{idUsuario}(idUsuario = ${usuario.id})}"> <i class="fas fa-shopping-cart"></i> Carrito </a></li>
					<li class="nav-item"><a class="nav-link"
						th:href="@{/visualizarFacturas/{idUsuario}(idUsuario = ${usuario.id})}">Mis
							Facturas</a></li>
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
						role="button" aria-haspopup="true" aria-expanded="false">Cuenta</a>
						<div class="dropdown-menu">
							<a class="dropdown-item"
								th:href="@{/editarPerfil/{idUsuario}(idUsuario = ${usuario.id})}">Editar
								perfil</a> <a class="dropdown-item" href="#"></a> 
								<form th:action='@{/logout?logout=true}' method="post">
          							<button type="submit" class="dropdown-item">Cerrar sesi&oacute;n</button>
          						</form>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item"
								th:href="@{/eliminarCuenta/{idUsuario}(idUsuario = ${usuario.id})}"
								style="color: red;" onClick="return confirmarEliminarCuenta()">Eliminar
								cuenta</a>
						</div></li>
					<li class="nav-item"><a class="nav-link" href="#">Soporte</a></li>
				</ul>
				<form class="form-inline my-2 my-lg-0"
					th:action="@{/busquedaPorPalabras/{idUsuario}(idUsuario = ${usuario.id})}"
					th:object="${producto}">
					<input class="form-control mr-sm-2" type="text"
						placeholder="B&uacute;squeda" th:field="*{descripcion}">
					<button class="btn btn-info my-2 my-sm-0" type="submit">Buscar</button>
				</form>
			</div>
		</nav>
	</div>
</body>
</html>