@charset "ISO-8859-1";

thead{
	text-align: center;
}

table, tr, td {
	border: 1px solid black;
}

tr, td{
	padding: 5px;
}

span {
	font-size: 25px;
	font-weight: lighter;
}

span{
	font-family: inherit;
}

.campoNegrilla{
	font-weight: bold;
}

.campoCargado{
	font-weight: normal;
}

#finalMsg{
	font-size: 19px;
	font-weight: normal;
}